<div class="text-center"><h3><b>Log In</b></h3></div>
<form id="ajax-login-form" action="{% url 'account-login' %}" method="post"
      role="form" autocomplete="off" novalidate>

    <div class="form-group">
        {{ login_form.user_name }}
    </div>
    <div class="form-group">
        {{ login_form.password }}
    </div>
    <div class="form-group">
        <div class="pretty p-default p-smooth">
            <input class="form-control" type="checkbox"
                   value="{{ login_form.remember_me.value }}"
                   name="{{ login_form.remember_me.name }}"
                   id="{{ login_form.remember_me.id_for_label }}"
                   tabindex="3"/>
            <div class="state p-primary">
                <label class="hide-text">{{ login_form.remember_me.help_text }}</label>
            </div>
        </div>
    </div>

    {{ login_form.remember_me.attrs }}

    <div class="form-group">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <input type="submit" name="login-submit" id="login-submit" tabindex="4"
                       class="btn btn-success btn-block" value="Log In">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <a href="http://phpoll.com/recover" tabindex="5"
                       class="forgot-password">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}"/>
    {% endif %}
    {% csrf_token %}
</form>