{% extends 'base/base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block head %}
    {{ block.super }}
    <script src="{% static 'account/profile.js' %}"></script>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-lg-3 col-lg-offset-4">
            <form action="{% url 'account-profile' %}" id="profile-form" method="POST" class="padding" role="form"
                  novalidate>
                <h1> Edit Profile </h1>
                <hr/>


                {% for field in user_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% render_field field class="form-control" %}
                    </div>
                {% endfor %}
                <br/>
                <button class="btn btn-success" type="submit">Save changes</button>
                <a class="btn btn-default" href="{% url 'index' %}">Cancel</a>


                {% csrf_token %}

            </form>
        </div>
    </div>
{% endblock %}