#uploader-div {
    height: 400px;
    padding-bottom: 3cm;
}

.pretty {
    font-size: 17px;
}

.row-m-t {
    margin-top: 10px
}

.push-down {
    position: relative;
    top: 7px;
}

#drag-label.hover {
    border-color: #0af017;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}

.drag-over {
    border: 2px solid #00aef0;
}