{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all"
          rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" media="all"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'uploader/uploader.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <script src="{% static 'uploader/uploader.js' %}"></script>

{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">

            <!--
            <div id="uploader-div">
                <input id="input-id" name="files[]" type="file" multiple>
            </div>
            -->


            <form class="form-horizontal" action="{% url 'uploader:uploader' %}" method="post" novalidate>

                <!-- https://formden.com/bootstrap-form-guide/ -->
                <!-- https://getbootstrap.com/docs/3.3/components/#panels -->
                <!-- https://docs.djangoproject.com/en/dev/topics/auth/default/#permissions -->


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Map Information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group"> <!-- Frequency Field -->
                            <label class="control-label col-sm-2">Insert map Info?</label>
                            <div class="col-sm-5 row-m-t">

                                <div class="pretty p-default p-smooth">
                                    <input class="form-control" type="checkbox"
                                           value="{{ form.insert_map_info.value }}"
                                           name="{{ form.insert_map_info.name }}"
                                           id="{{ form.insert_map_info.id_for_label }}"/>
                                    <div class="state p-primary">
                                        <label class="hide-text">&nbsp;</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Map Author</label>
                            <div class="col-sm-6">

                                {{ form.map_author }}


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Map Type</label>
                            <div class="col-sm-6">

                                {{ form.map_type }}


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Map Tier</label>
                            <div class="col-sm-6">

                                {{ form.map_tier }}


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Map Zones</label>
                            <div class="col-sm-6">

                                {{ form.map_zones }}
                                <div class="help-block text-muted">
                                    {{ form.map_zones.help_text }}
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Map Bonuses</label>
                            <div class="col-sm-6">

                                {{ form.map_bonuses }}

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Disable Prehop</label>
                            <div class="col-sm-6">

                                <div class="pretty p-default p-smooth row-m-t">
                                    <input class="form-control" type="checkbox"
                                           value="{{ form.disable_pre_hop.value }}"
                                           name="{{ form.disable_pre_hop.name }}"
                                           id="{{ form.disable_pre_hop.id_for_label }}" disabled/>
                                    <div class="state p-primary">
                                        <label class="hide-text">&nbsp;</label>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-2">Baked Triggers</label>
                            <div class="col-sm-6">

                                <div class="pretty p-default p-smooth row-m-t">
                                    <input class="form-control" type="checkbox"
                                           value="{{ form.enable_baked_triggers.value }}"
                                           name="{{ form.enable_baked_triggers.name }}"
                                           id="{{ form.enable_baked_triggers.id_for_label }}" disabled/>
                                    <div class="state p-primary">
                                        <label class="hide-text">&nbsp;</label>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>


                <!-- https://stackoverflow.com/questions/38373842/bootstrap-buttons-inside-list-group-item -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Spawn Locations</h3>
                    </div>
                    <div class="panel-body">


                        <div class="form-group">
                            <label class="control-label col-sm-2">List of Spawns</label>
                            <div class="col-sm-6">
                                <div class="list-group">
                                    <a class="list-group-item clearfix" data-test="a">
                                        Stage 1
                                        <span class="pull-right">
                                            <span class="btn btn-xs btn-default"
                                                  onclick="alert($(this).parent().parent().attr('data-test')); event.stopPropagation();">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Position Coords</label>
                            <div class="col-sm-6">
                                <input type="text" name="spawn_coordinates" class="form-control" id="spawn_coordinates"
                                       placeholder="x,y,z"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Angle Coords</label>
                            <div class="col-sm-6">
                                <input type="text" name="angle_coordinates" class="form-control" id="angle_coordinates"
                                       placeholder="x,y,z"/>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="form-group"> <!-- Frequency Field -->
                    <label class="control-label col-sm-2">Servers to upload to:</label>
                    <div class="col-sm-10">

                        {% for field in form.servers %}
                            <div class="row row-m-t">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="pretty p-default p-smooth">
                                        <input class="form-control" type="checkbox" value="{{ field.data.value }}"
                                               name="{{ field.data.name }}" id="{{ field.id_for_label }}"/>
                                        <div class="state p-primary">
                                            <label>{{ field.data.label }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>

                <div class="form-group"> <!-- Submit Button -->
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>

                {% csrf_token %}
            </form>


        </div>
    </div>
{% endblock %}


{% block footer %}
    <script>
        var form_ids = {
            'map_information': '{{ form.insert_map_info.id_for_label }}',
            'map_author': '{{ form.map_author.id_for_label }}',
            'map_type': '{{ form.map_type.id_for_label }}',
            'map_tier': '{{ form.map_tier.id_for_label }}',
            'map_zones': '{{ form.map_zones.id_for_label }}',
            'map_bonuses': '{{ form.map_bonuses.id_for_label }}',
            'map_prehop': '{{ form.disable_pre_hop.id_for_label }}',
            'map_baked': '{{ form.enable_baked_triggers.id_for_label }}'
        }
    </script>

{% endblock %}