{% extends 'base/base.html' %}
{% load static %}

{% block head %}
    {{ block.super }}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all"
          rel="stylesheet" type="text/css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" media="all"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'uploader/uploader.css' %}" media="all" rel="stylesheet" type="text/css"/>
    <script src="{% static 'uploader/uploader.js' %}"></script>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="jumbotron">

            <!--
            <div id="uploader-div">
                <input id="input-id" name="files[]" type="file" multiple>
            </div>
            -->


            <form class="form-horizontal" id="uploader-form" action="{% url 'uploader:uploader' %}" method="post"
                  novalidate>

                <!-- https://formden.com/bootstrap-form-guide/ -->
                <!-- https://getbootstrap.com/docs/3.3/components/#panels -->
                <!-- https://docs.djangoproject.com/en/dev/topics/auth/default/#permissions -->


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Map Information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Add Map Info</label>
                            <div class="col-sm-5 row-m-t">

                                <div class="pretty p-default p-smooth">
                                    <input class="form-control" type="checkbox"
                                           value="{{ form.insert_map_info.value }}"
                                           name="{{ form.insert_map_info.name }}"
                                           id="{{ form.insert_map_info.id_for_label }}"/>
                                    <div class="state p-primary">
                                        <label class="hide-text">&nbsp;</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Map Author</label>
                            <div class="col-sm-10">

                                {{ form.map_author }}


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Map Type</label>
                            <div class="col-sm-10">

                                {{ form.map_type }}


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Map Tier</label>
                            <div class="col-sm-6">

                                {{ form.map_tier }}


                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Map Zones</label>
                            <div class="col-sm-6">

                                {{ form.map_zones }}
                                <div class="help-block text-muted">
                                    {{ form.map_zones.help_text }}
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Map Bonuses</label>
                            <div class="col-sm-6">

                                {{ form.map_bonuses }}

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Disable Prehop</label>
                            <div class="col-sm-6">

                                <div class="pretty p-default p-smooth row-m-t">
                                    <input class="form-control" type="checkbox"
                                           value="{{ form.map_disable_pre_hop.value }}"
                                           name="{{ form.map_disable_pre_hop.name }}"
                                           id="{{ form.map_disable_pre_hop.id_for_label }}" disabled/>
                                    <div class="state p-primary">
                                        <label class="hide-text">&nbsp;</label>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-sm-2">Baked Triggers</label>
                            <div class="col-sm-6">

                                <div class="pretty p-default p-smooth row-m-t">
                                    <input class="form-control" type="checkbox"
                                           value="{{ form.map_enable_baked_triggers.value }}"
                                           name="{{ form.map_enable_baked_triggers.name }}"
                                           id="{{ form.map_enable_baked_triggers.id_for_label }}" disabled/>
                                    <div class="state p-primary">
                                        <label class="hide-text">&nbsp;</label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Spawn Info</label>
                            <div class="col-sm-6 row-m-t">
                                {{ form.map_spawns }}
                                <div class="help-block text-muted">
                                    {{ form.map_spawns.help_text }}
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Upload Settings</h3>
                    </div>
                    <div class="panel-body">


                        <div class="form-group">
                            <label class="control-label col-sm-2">Upload To</label>
                            <div class="col-sm-10">
                                {% for field in form.servers %}
                                    <div class="row row-m-t">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="pretty p-default p-smooth">
                                                <input class="form-control" type="checkbox"
                                                       value="{{ field.data.value }}"
                                                       name="{{ field.data.name }}" id="{{ field.id_for_label }}"/>
                                                <div class="state p-primary">
                                                    <label>{{ field.data.label }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>


                        {% if perms.home.uploader_advanced %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Advanced Settings</h3>
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Replace Map</label>
                                        <div class="col-sm-5 row-m-t">

                                            <div class="pretty p-default p-smooth">
                                                <input class="form-control" type="checkbox"
                                                       value="{{ form.replace_map.value }}"
                                                       name="{{ form.replace_map.name }}"
                                                       id="{{ form.replace_map.id_for_label }}"/>
                                                <div class="state p-primary">
                                                    <label class="hide-text">&nbsp;</label>
                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Delete Map</label>
                                        <div class="col-sm-5 row-m-t">

                                            <div class="pretty p-default p-smooth">
                                                <input class="form-control" type="checkbox"
                                                       value="{{ form.delete_map.value }}"
                                                       name="{{ form.delete_map.name }}"
                                                       id="{{ form.delete_map.id_for_label }}"/>
                                                <div class="state p-danger">
                                                    <label class="hide-text">&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-sm-2">Select Map</label>
                                        <div class="col-sm-6">

                                            {{ form.map_list }}


                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Browse&hellip;
                                            <input type="file" style="display: none;">
                                        </span>
                                    </label>
                                    <input type="text" id="drag-label" class="form-control"
                                           value="Select a file or drag n' drop it onto here..." readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0"
                         aria-valuemin="0" aria-valuemax="100"
                         style="min-width: 2em;">
                        0%
                    </div>
                </div>

                <div class="form-group"> <!-- Submit Button -->
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-l btn-block">Upload</button>
                    </div>
                </div>

                {% csrf_token %}
            </form>


        </div>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}